Блінда Ірина

Практична робота №2. Варіант 4

Зчитайте дані з таблиці "Середньорічна щомісячна зарплата в Україні за 1992—2022 роки"
https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96

Завдання 1.
Виведіть перші 5 рядків таблиці.

In [ ]:
import pandas as pd

# Зчитуємо дані з Вікіпедії
url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96"
tables = pd.read_html(url)

# Вибираємо потрібну таблицю (першу в списку)
data = tables[0]

# Виводимо перші 5 рядків
print(data.head())

Завдання 2.
Визначте кількість рядків і стовпчиків за допомогою атрибуту shape

In [ ]:
# Визначаємо кількість рядків і стовпчиків за допомогою атрибуту shape
num_rows, num_columns = data.shape
print("Кількість рядків:", num_rows)
print("Кількість стовпчиків:", num_columns)

Завдання 3.
Визначте загальну кількість років та кількість місяців у даних.

In [ ]:
# Отримуємо загальну кількість років та місяців
total_years = num_rows - 1  # Вираховуємо загальну кількість років (заголовок рахуємо як рік)
total_months = num_columns - 1  # Вираховуємо загальну кількість місяців (перший стовпчик - це рік)
print("Загальна кількість років:", total_years)
print("Загальна кількість місяців:", total_months)

Завдання 4.
Замінити пропущені значення  «-» в таблиці на NaN

In [ ]:
# Замінюємо "-" на NaN
data = data.replace("-", pd.NA)

Завдання 5.
Визначимо типи стовпців:

In [ ]:
# Визначаємо типи стовпців за допомогою dtypes
column_types = data.dtypes
print("Типи стовпців:")
print(column_types)

Завдання 6.
Видаліть передостанній і останній стовпчики ( Кількість кгхліба[20] на середнюзарплату,  Кільксть БігМаків на середню зарплату). Далі працюйте з оновленою таблицею.

In [ ]:
# Видаляємо передостанній і останній стовпчики
data = data.iloc[:, 1:-1]

Завдання 7. Замінити тип нечислових даних на числові.

In [ ]:
# Замінюємо тип нечислових даних на числові
data = data.apply(pd.to_numeric, errors='coerce')

Завдання 8. 
Порахуйте частку пропусків в кожній колонці (за допомогою методів isnull , sum, len)

In [ ]:
# Порахуємо частку пропусків в кожній колонці
missing_percentages = (data.isnull().sum() / len(data)) * 100
print("Частка пропусків в кожній колонці:")
print(missing_percentages)

Завдання 9. 
Замініть всі пропущені значення на середні значення по (стовпцю).

In [ ]:
# Замінюємо пропущені значення на середні значення по стовпцю
data = data.fillna(data.mean())

Завдання 10.
Знайдіть рік з найвищою зарплатою в Україні в грн і вкажіть цю зарплату.

In [ ]:
# Знаходимо рік з найвищою зарплатою
max_salary_year = data.iloc[:, 1:].max().idxmax()
max_salary_value = data.iloc[:, 1:].max().max()
print("Рік з найвищою зарплатою в Україні:", max_salary_year)
print("Зарплата в цьому році:", max_salary_value)

Завдання 11.
Знайдіть рік з мінімальною  зарплатою в Україні в дол. США і вкажіть цю зарплату.

In [ ]:
# Знаходимо рік з мінімальною зарплатою в доларах США
min_salary_usd_year = data[data['Середньомісячна заробітна плата в доларах США'].notna()]['Рік'].astype(int).iloc[0]
min_salary_usd_value = data[data['Середньомісячна заробітна плата в доларах США'].notna()]['Середньомісячна заробітна плата в доларах США'].iloc[0]
print("Рік з мінімальною зарплатою в Україні в доларах США:", min_salary_usd_year)
print("Зарплата в цьому році в доларах США:", min_salary_usd_value)

Завдання 12.
Виведіть роки, коли зарплата в грн була вище середньої.

In [ ]:
# Визначаємо середню зарплату в гривнях
average_salary_uah = data['Середньомісячна заробітна плата в гривнях'].mean()

# Виводимо роки, коли зарплата була вище середньої
years_above_average = data[data['Середньомісячна заробітна плата в гривнях'] > average_salary_uah]['Рік']
print("Роки зі зарплатою в гривнях вище середньої:")
print(years_above_average)

Завдання 13.
Створіть графік, що відображає  зарплату в Україні з часом (за роками).

In [ ]:
# Отримуємо дані за останні два роки
last_two_years_data = data.iloc[-2:, :]

# Виводимо дані за останні два роки
print("Зарплата в гривнях за останні два доступних роки:")
print(last_two_years_data[['Рік', 'Середньомісячна заробітна плата в гривнях']])

Завдання 14. Видаліть останній рік з таблиці та виведіть оновлену таблицю.

In [ ]:
import matplotlib.pyplot as plt

# Відокремлюємо рік і зарплату в гривнях
years = data['Рік']
salary_uah = data['Середньомісячна заробітна плата в гривнях']

# Побудова графіку
plt.figure(figsize=(12, 6))
plt.plot(years, salary_uah, marker='o', linestyle='-')
plt.title('Середньомісячна заробітна плата в Україні за роками')
plt.xlabel('Рік')
plt.ylabel('Зарплата в гривнях')
plt.grid(True)
plt.show()

Завдання 15. Побудуйте графік, що відображає середню зарплату в Україні в розрізі років без останнього року.

In [ ]:
# Видаляємо останній рік з таблиці
data = data[:-1]
print("Оновлена таблиця без останнього року:")
print(data)

Завдання 16. Обчисліть зарплату за останні два роки і порівняйте її із зарплатою за останні 5 років. Вкажіть, чи є різниця, і в якому напрямку.

In [ ]:
last_two_years_salary = data.iloc[-2:]['Середньомісячна заробітна плата в гривнях'].sum()
last_five_years_salary = data.iloc[-5:]['Середньомісячна заробітна плата в гривнях'].sum()
if last_two_years_salary > last_five_years_salary:
    difference = last_two_years_salary - last_five_years_salary
    print("\nЗарплата за останні два роки вища на", difference, "гривень.")
elif last_two_years_salary < last_five_years_salary:
    difference = last_five_years_salary - last_two_years_salary
    print("\nЗарплата за останні два роки нижча на", difference, "гривень.")
else:
    print("\nЗарплата за останні два роки і за останні п'ять років однакова.")

Висновок:
У даній лабораторній роботі я провела аналіз даних про середньомісячну заробітну плату в Україні за допомогою бібліотеки pandas та побудувала графіки, що відображають зміни в зарплаті з часом.
Також я знайшли рік з найвищою та найнижчою зарплатою в різних валютах та визначила роки, коли зарплата була вище середньої.

https://github.com/irynablinda1/machine_learning_1